{:org.fversnel.breadrecipes/metadata
 [[:name
   {:name "Naam"}]

  [:description
   {:name "Omschrijving"}]

  [:total-flour-in-grams
   {:name "Totale hoeveelheid meel"
    :proportion-formula :total-flour-in-grams
    :unit :grams}]

  [:flour
   {:name "Meel"
    :proportion-formula (* :flour :total-flour-in-grams)
    :percentage? true
    :unit :grams}]

  [:flour/white
   {:name "Bloem"
    :proportion-formula (* :flour/white :flour)
    :percentage? true
    :unit :grams}]

  [:flour/whole-wheat
   {:name "Volkoren meel"
    :proportion-formula (* :flour/whole-wheat :flour)
    :percentage? true
    :unit :grams}]

  [:water
   {:name "Water"
    :proportion-formula (- (* :water :total-flour-in-grams) :preferment/water)
    :percentage? true
    :unit :grams}]

  [:salt
   {:name "Zout"
    :proportion-formula (* :salt :total-flour-in-grams)
    :percentage? true
    :unit :grams}]

  [:yeast
   {:name "Gist"
    :proportion-formula (* :yeast :total-flour-in-grams)
    :percentage? true
    :unit :grams}]

  [:preferment/type
   {:name "Voordeeg type"}]

  [:preferment/flour
   {:name "Voordeeg meel"
    :proportion-formula (* :preferment/flour :total-flour-in-grams)
    :percentage? true
    :unit :grams}]

  [:preferment.flour/white
   {:name "Voordeeg bloem"
    :proportion-formula (* :preferment.flour/white :preferment/flour)
    :percentage? true
    :unit :grams}]

  [:preferment.flour/whole-wheat
   {:name "Voordeeg volkoren meel"
    :proportion-formula (* :preferment.flour/whole-wheat :preferment/flour)
    :percentage? true
    :unit :grams}]

  [:preferment/water
   {:name "Voordeeg water"
    :proportion-formula (* :preferment/water :preferment/flour)
    :percentage? true
    :unit :grams}]

  [:preferment/yeast
   {:name "Voordeeg gist"
    :proportion-formula (* :preferment/yeast :preferment/flour)
    :percentage? true
    :unit :grams}]

  [:bulk.fermentation/time
   {:name "Bulkrijs tijd"
    :unit :hours}]

  [:bulk.fermentation/temperature
   {:name "Bulkrijs temperatuur"
    :unit :celcius}]

  [:proofing/time
   {:name "Bolrijs tijd"
    :unit :hours}]

  [:proofing/temperature
   {:name "Bolrijs temperatuur"
    :unit :celcius}]]

 :org.fversnel.breadrecipes/recipes
 [{:name "Volkoren brood met gist"
   :flour 1
   :water 7/10
   :salt 20/1000
   :yeast 1/100}

  {:name "Volkoren brood minder gist"
   :description "Langere fermentatie omdat er minder gist in zit"
   :flour 1
   :water 7/10
   :salt 20/1000
   :yeast 1/200}

  {:name "Volkoren brood minder gist, meer hydratatie"
   :description "Meer water en minder gist voor langere fermentatie en meer smaak"
   :flour 1
   :water 75/100
   :salt 20/1000
   :yeast 1/200}

  {:name "Brood met hoge hydratatie, avond preparatie, s'ochtends bakken"
   :flour 1
   :flour/whole-wheat 1
   :water 85/100
   :salt 20/1000
   :yeast 6/1000
   :bulk.fermentation/time "2,5-3"
   :bulk.fermentation/temperature "24-25"
   :proofing/temperature 7
   :proofing/time "10-14"}

  {:name "Volkoren brood obv. 1/3 poolish"
   :flour 2/3
   :water 7/10
   :salt 20/1000
   :yeast 5/1000

   :preferment/type "Poolish"
   :preferment/flour 1/3
   :preferment/water 1
   :preferment/yeast 2/1000}

  {:name "Volkoren brood obv. 1/2 sponge"
   :flour 1/2
   :water 7/10
   :salt 20/1000
   :yeast 5/1000

   :preferment/type "Sponge"
   :preferment/flour 1/2
   :preferment/water 75/100
   :preferment/yeast 2/1000}]}