{:org.fversnel.breadrecipes/metadata
 [[:name
   {:name "Naam"}]

  [:description
   {:name "Omschrijving"}]

  [:total-flour-in-grams
   {:name "Totale hoeveelheid meel"
    :proportion-formula :total-flour-in-grams
    :unit :grams}]

  [:flour
   {:name "Meel"
    :proportion-formula (* :flour :total-flour-in-grams)
    :percentage? true
    :unit :grams}]

  [:flour/white
   {:name "Bloem"
    :proportion-formula (* :flour/white :flour)
    :percentage? true
    :unit :grams}]

  [:flour/whole-wheat
   {:name "Volkoren meel"
    :proportion-formula (* :flour/whole-wheat :flour)
    :percentage? true
    :unit :grams}]

  [:levain
   {:name "Zuurdesem"
    :proportion-formula (* :levain :total-flour-in-grams)
    :percentage? true
    :unit :grams}]

  [:water
   {:name "Water"
    :proportion-formula (- (* :water :total-flour-in-grams)
                           :preferment/water)
    :percentage? true
    :unit :grams}]

  [:water/temperature
   {:name "Water temperatuur"
    :unit :celcius}]

  [:salt
   {:name "Zout"
    :proportion-formula (* :salt :total-flour-in-grams)
    :percentage? true
    :unit :grams}]

  [:yeast
   {:name "Gist"
    :proportion-formula (* :yeast :total-flour-in-grams)
    :percentage? true
    :unit :grams}]

  [:oil/olive
   {:name "Olijfolie"
    :proportion-formula (* :oil/olive :total-flour-in-grams)
    :percentage? true
    :unit :grams}]
  
  [:preferment/type
   {:name "Voordeeg type"}]

  [:preferment/flour
   {:name "Voordeeg meel"
    :proportion-formula (* :preferment/flour :total-flour-in-grams)
    :percentage? true
    :unit :grams}]

  [:preferment.flour/white
   {:name "Voordeeg bloem"
    :proportion-formula (* :preferment.flour/white :preferment/flour)
    :percentage? true
    :unit :grams}]

  [:preferment.flour/whole-wheat
   {:name "Voordeeg volkoren meel"
    :proportion-formula (* :preferment.flour/whole-wheat :preferment/flour)
    :percentage? true
    :unit :grams}]

  [:preferment/water
   {:name "Voordeeg water"
    :proportion-formula (* :preferment/water :preferment/flour)
    :percentage? true
    :unit :grams}]

  [:preferment/yeast
   {:name "Voordeeg gist"
    :proportion-formula (* :preferment/yeast :preferment/flour)
    :percentage? true
    :unit :grams}]

  [:bulk.fermentation/time
   {:name "Bulkrijs tijd"
    :unit :hours}]

  [:bulk.fermentation/temperature
   {:name "Bulkrijs temperatuur"
    :unit :celcius}]

  [:proofing/time
   {:name "Narijs tijd"
    :unit :hours}]

  [:proofing/temperature
   {:name "Narijs temperatuur"
    :unit :celcius}]]

 :org.fversnel.breadrecipes/recipes
 [{:name  "Volkoren brood met gist"
   :flour 1
   :water 7/10
   :salt  20/1000
   :yeast 1/100}

  {:name        "Volkoren brood minder gist"
   :description "Langere fermentatie omdat er minder gist in zit"
   :flour       1
   :water       7/10
   :salt        20/1000
   :yeast       1/200}

  {:name        "Volkoren brood minder gist, meer hydratatie"
   :description "Meer water en minder gist voor langere fermentatie en meer smaak"
   :flour       1
   :water       75/100
   :salt        20/1000
   :yeast       1/200}

  {:name                          "Brood met hoge hydratatie, koude narijs"
   :flour                         1
   :flour/whole-wheat             1
   :water                         85/100
   :salt                          20/1000
   :yeast                         2/1000
   :bulk.fermentation/time        "2,5-3"
   :bulk.fermentation/temperature "24-25"
   :proofing/temperature          7
   :proofing/time                 "10-14"}

  {:name                          "Brood met hoge hydratatie (+ levain), koude narijs"
   :flour                         1
   :flour/whole-wheat             1
   :levain                        20/100
   :water                         90/100
   :water/temperature             "32-35"
   :salt                          20/1000
   :yeast                         6/1000
   :bulk.fermentation/time        "2,5-3"
   :bulk.fermentation/temperature "24-25"
   :proofing/temperature          7
   :proofing/time                 "10-14"}

  {:name             "Volkoren brood obv. 1/3 poolish"
   :flour            2/3
   :water            7/10
   :salt             20/1000
   :yeast            5/1000

   :preferment/type  "Poolish"
   :preferment/flour 1/3
   :preferment/water 1
   :preferment/yeast 2/1000}

  {:name             "Volkoren brood obv. 1/2 sponge"
   :flour            1/2
   :water            7/10
   :salt             20/1000
   :yeast            5/1000

   :preferment/type  "Sponge"
   :preferment/flour 1/2
   :preferment/water 75/100
   :preferment/yeast 2/1000}

  {:name                          "Focaccia"
   :flour                         1
   :flour/white                   4/5
   :flour/whole-wheat             1/5
   :water                         90/100
   :yeast                         10/1000
   :salt                          16/1000
   :bulk.fermentation/temperature 7
   :bulk.fermentation/time        "24-72"
   :proofing/temperature          19
   :proofing/time                 "2-3"
   :oil/olive                     10/100}

  ;; 67g flour per Brot
  {:name                          "Brötchen"
   :flour                         1
   :flour/white                   30/100
   :flour/whole-wheat             1/2
   :levain                        40/100
   :water                         45/100
   :salt                          20/1000
   :bulk.fermentation/time        "2,5-3"
   :bulk.fermentation/temperature "24-25"
   :proofing/temperature          7
   :proofing/time                 "10-14"}]}