{:org.fversnel.breadrecipes/proportions
 {:flour (* :flour :total-flour-in-grams)
  :water (- (* :water :total-flour-in-grams) :preferment/water)
  :yeast (* :yeast :total-flour-in-grams)
  :salt (* :salt :total-flour-in-grams)

  :preferment/flour (* :preferment/flour :total-flour-in-grams)
  :preferment/water (* :preferment/water :preferment/flour)
  :preferment/yeast (* :preferment/yeast :preferment/flour)}
 
 :org.fversnel.breadrecipes/recipes
 [{:name "Volkoren brood met gist"
   :flour 1
   :water 7/10
   :yeast 1/100
   :salt 16/1000}
  
  {:name "Volkoren brood obv. poolish"
   :flour 2/3
   :water 7/10
   :yeast 5/1000
   :salt 16/1000

   :preferment/type :poolish
   :preferment/flour 1/3
   :preferment/water 1
   :preferment/yeast 1/1000}

  {:name "Volkoren brood obv. sponge"
   :flour 1/2
   :water 7/10
   :yeast 5/1000
   :salt 16/1000

   :preferment/type :sponge
   :preferment/flour 1/2
   :preferment/water 75/100
   :preferment/yeast 1/1000}]}